<DOCTYPE! html>
<html>
	<head>
	<title> Juinwoof: The life,thoughts,and photography of Adam D. Wisniewski</title>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
	</head>
	
	<body>
		<header><h1><a href="/blog" title="Homepage"><img src="/static/img/name.png" width=640 /></a></h1></header>
		<nav>
		<a href="/blog" class="blog">Blog</a>
		<a href="/blog/archives" class="archives">Archives</a>
		<a href="/blog/feed" class="rss">RSS Feed</a>
		<a href="/blog/photologue" class="photologue">Photography</a>
		{% if user.is_staff %}
		<a href="{%url admin:app_list app_label='blog'%}">Admin</a>
		{% endif %}
		<!-- <a href="/blog/contact" class="contact">Contact</a>  -->
		</nav>
		
		<!-- <section> -->
		<!-- 	<article> -->
	
			<!-- posts -->
			{% block content %}
			{% endblock %}
	
			<!-- </article> -->
		<!-- </section> -->
		
		<footer>
			<div class="about">
			All Rights Reserved by <a href="mailto:rocketdog48@gmail.com" <strong>Adam D. Wisniewski</strong> </a> - <em>Programmer,Traveler,Photographer</em> 2012
			</div>
		</footer>
</html>