@import url(http://fonts.googleapis.com/css?family=Poly);
@import url(normalize.css);

html {
    height: 100%;
    font-size: 100%;
    overflow-y: scroll; /* Force a scrollbar in non-IE */
    -webkit-text-size-adjust: 100%; /* Prevent iOS text size adjust on orientation change without disabling user zoom */
    -ms-text-size-adjust: 100%;

    background: #102550;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-image: -linear-gradient(top, rgb(20,50,100) 90%, rgb(0,0,60) 100%);
    background-image: -o-linear-gradient(top, rgb(20,50,100) 90%, rgb(0,0,60) 100%);
    background-image: -moz-linear-gradient(top, rgb(20,50,100) 90%, rgb(0,0,60) 100%);
    background-image: -webkit-linear-gradient(top, rgb(20,50,100) 90%, rgb(0,0,60) 100%);
    background-image: -ms--linear-gradient(top, rgb(20,50,100) 90%, rgb(0,0,60) 100%);
    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.9, rgb(20,50,100)),
    color-stop(1.0, rgb(0,0,60))
    ); 
}

body {
    margin: 0 auto;
    min-height: 100%;
    max-width: 640px;
    margin: 0 auto;
    /* background: rgba(120, 50, 255, 0.5); */
    padding: 18px;
}


h2 {
    font-family:  "sans-serif";
    color: #060606;
}


 .post_meta{
	color: #868686;
	/* display: inline; */
	font-style: italic;
	font-size: .75em;
	text-align: right;
}

h1 a, h2 a {
    text-decoration: none;
    color: #FFFFFF;
	
}

h2 a:hover{
	color:green;
	text-shadow: 0 1px 0 blue;
	}

header h1 {
    font-weight: 600;
    letter-spacing: -3px;
    font-size: 2.6em;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
    /* Icon from http://www.gentleface.com/free_icon_set.html */
    /* background: url(/static/img/watermark.png) no-repeat; */
    /* padding: 0 0 0 64px; */
}

nav {
    width: 100%;
    border-bottom: 1px dotted #aaa;
    height: 24px;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 3px;
    margin-right: 10px;
}
nav a:hover {
    text-decoration: underline;
	color: grey;
}

h2 a, h2 {
    text-shadow: 0 1px 0 white;
    letter-spacing: 1px;
	color: white;
}

 .tags a {
    color: #868686;
	text-decoration: inline;
	font-style: italic;
	font-size: .8em
	
}

.tags a:hover{
	color:orange;
	font-style: normal;
	text-decoration: none;
}


.post_body {
    padding-bottom: 20px;
    margin-bottom: 8px;
	font-family:"agency";
	color:white;
}

.archives_body p,a{
	color:white;
}
	
.archives_body p,a:hover{
	color:orange;
}

.tags {
    padding: 0 0 0 21px;
}

footer {
    width: 100%;
    height: 40px;
    border-top: 1px dotted #AAA;
    padding-top: 4px;
    margin-top: 36px;
    position: relative;
	font-size:10px;
}

footer a{
	text-decoration:none;
	color:black;
}
